
.image-container {
    position: relative;
    display: inline-block;
    width:50%;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(143, 141, 142, 0.744);
    border-radius: 50%;
    cursor: pointer;
}

.circle:hover{
    background-color: rgb(29, 132, 249);
}

.line {
    position: absolute;
    width: 1.5px;
    background-color: rgba(3, 255, 83, 0.7);
}

.line-horizontal {
    height: 0.5px;
    width: auto;
}

.text-container {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
    width: 400px;
    height: auto;
}