/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable selector-class-pattern */

.dealership-activities__container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 32px;
    /* stylelint-disable-next-line custom-property-pattern */
    background: var(--Tertiary-White, #FFF);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    align-self: stretch;
  }
  
  /* Content within the dealership activities container */
  .dealership-activities__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    text-align: left;
    align-self: stretch;
  }
  
  /* Title styling */
  .dealership-activities__title {
    margin-bottom: 20px;
    color: #434649;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 112.5% */
    letter-spacing: 0.64px;
}
  
  /* Subtitle styling */
  .dealership-activities__title .subtitle {
    color: #575A5E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "Fira Sans";
}
  
  /* Tabs wrapper */
  .dealership-activities__tab {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    width: 1174px;
    align-items: flex-start;
    gap: 24px;
    flex-direction: row;

  
  }
  
  /* Tabs container */
  .tabs {
    display: flex;
    position: relative;
  }
  
  /* Individual tab styling */
  .tab-item  {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    position: relative;
    color: black;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #fff;
    width: 210px;
  }
  
  /* Scroll line for tabs */
  .tab-item-scroll-line {
    position: absolute;
    bottom: -2px; /* Adjust based on padding */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: grey; /* Default color for the scroll line */
    transition: background-color 0.3s ease;
  }
  
  /* Highlight scroll line for active tab */
  .tab-item.active .tab-item-scroll-line {
    background-color: black; /* Highlight color for the scroll line of the active tab */
  }
  
  /* Scrollbar styling for tabs */
  .tabs::-webkit-scrollbar {
    height: 8px; /* Height of the horizontal scrollbar */
  }
  
  .tabs::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners for the scrollbar thumb */
  }
  
  .tabs::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Background color of the scrollbar track */
  }
 
