.dealer-activities {
  /* font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; */
  background-color: #f9f9f9;
}

.dealership-activities-container {
  margin: 80px 64px 120px;
  background: var(--tertiary-white, #FFF);
  padding: 32px;
}

.dealership-activities__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px
}

.dealership-activities__title {
  color: #434649;
  font-family: "Kepler Std";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0.64px;
}

.dealership-activities__subtitle {
  color: #575A5E;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: unset;
  margin-bottom: 20px;
}

.dealer__tabs {
  display: flex;
  border-bottom: 1px solid var(--tertiary-light-grey, #F2F2F2);
  ;
  gap: 24px;
  margin: unset;
  padding: unset;
}

.dealer__tab {
  cursor: pointer;
  color: var(--Tertiary-Deep-Grey, #767879);
  text-decoration: none;
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: pre-wrap;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 14px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: end;
  overflow-wrap: break-word;
}

.dealer__tab::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #767879;
}

.dealer__tab.active {
  color: var(--Primary-Main, #18171A);
}

.dealer__tab.active::after {
  border-bottom: 2px solid #18171A;
}

.dealer__activities-notification-cards{
  display: flex;
    flex-direction: column;
    gap: 48px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 48px; 
}

.dealer__activities-notification-cards::-webkit-scrollbar {
  width: 2px;
}

.dealer__activities-notification-cards::-webkit-scrollbar-track {
  background: linear-gradient(34deg, #C9D3D7 0%, #EBEBEB 100%, #EBEBEB 100%);
}

.dealer__activities-notification-cards::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}


.dealer__activity {
  margin-right: 24px;
}

.dealer__activity-header {
  font-size: 16px;
  padding: 8px 24px;
  background: var(--Gradients-Gradient-1, linear-gradient(60deg, #C9D3D7 3.71%, #EBEBEB 104.51%));
}

.dealer__activity-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background: var(--Tertiary-Light-grey, #F2F2F2);
  align-items: flex-end;
align-self: stretch;
}

.car-image {
  width: 150px;
  height: auto;
  margin-right: 24px;
}

.activity-details {
  flex-grow: 1;
  margin-right: 24px;
}

.activity-details p {
  margin: 4px 0;
  font-size: 14px;
  color: #333;
}
