.location {
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #f2f2f2;
  background-color: black;
  border: none;
}
.location:hover {
  color: red;
}
.geo-location {
  display: none;
  width: 360px;
}
.geo-location__text {
  background-color: #f2f2f2;
  padding: 32px 46px 24px 24px;
  clip-path: polygon(0 0, 100% 0, 100% 91%, 55% 92%, 52% 100%, 0 100%);
  font-family: "Fira Sans";
  font-size: "16px";
  font-weight: 500;
  line-height: 20px;
  color: #18171a;
}
.detect-location {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: left;
}
.find-location__text {
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #7b7777;
  padding: 16px 12px 16px 0px;
}
.separator {
  display: flex;
  justify-content: center;
  font-family: "Fira Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.detect-location__text {
  padding: 16px 12px;
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #18171a;
  background-color: #f2f2f2;
}
.search-location {
  display: none;
}
 