.visual-comparison {
    gap: 20px;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: auto;
}

.visual-comparison > .outer-div { 
    position: relative;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.visual-comparison > .outer-div > .inner-div > video {
    width: 100%;
}