.video-compare {
    gap: 20px;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: auto;
}

.video-compare__sync-video-player { 
    position: relative;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.video-compare__video-container > .video-compare__sync-video-player > video {
    width: 100%;
}