@import '../carousel/fadecarousel.css';

.brand-film__container {
  background-color: black;
  color: white;
}

.brand-film__container .carousel__slide {
  transition: visibility 0s, opacity 0s linear;
}

.brand-film__container .brand-film__wrapper {
  position: relative;
  width: 80%;
  margin: auto;
}

.brand-film__container .brand-film__asset {
  position: relative;
}

.brand-film__container .brand-film__video--paused::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  height: 48px;
  width: 48px;
  background: url('../../icons/play-icon.svg') no-repeat;
}

.brand-film__container video:picture-in-picture {
  border: 5px solid blue;
}

.brand-film__container .brand-film__wrapper .brand-film__actions,
.brand-film__container .brand-film__wrapper .brand-film__close-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
}

.brand-film__container .brand-film__wrapper:hover .brand-film__actions {
  visibility: visible;
}

.brand-film__container .brand-film__wrapper--fullscreen {
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
}

.brand-film__container .brand-film__wrapper--pip .brand-film__asset {
  width: 250px;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 20;
}

.brand-film__container .brand-film__wrapper--pip video {
  border-radius: 8px;
}

.brand-film__container .brand-film__wrapper--fullscreen:hover .brand-film__actions,
.brand-film__container .brand-film__wrapper--pip:hover .brand-film__actions {
  visibility: hidden;
}

.brand-film__container .brand-film__wrapper--fullscreen .brand-film__close-btn,
.brand-film__container .brand-film__wrapper--pip .brand-film__close-btn {
  visibility: visible;
  top: 20px;
  left: unset;
  right: 0;
}

.brand-film__container .brand-film__slides,
.brand-film__container .brand-film__slides video {
  width: 100%;
}
