@import '../carousel/fadecarousel.css';

.brand-film__container {
  position: relative;
  padding: 24px;
  background-color: #18171A;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 16px), calc(100% - 96px) calc(100% - 16px), calc(100% - 108px) 100%, 0 100%);
}

.brand-film__container .brand-film__description {
  margin-bottom: 48px;

  .brand-film__description-text {
    margin: 0;
    color: white;
    font-size: 24px;
    font-family: Kepler Std;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
    text-align: center;
  }
}

.brand-film__container .brand-film__content {
  padding: 16px 24px 0;

  .brand-film__title {
    color: white;
    font-size: 14px;
    font-family: Fira Sans;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word
  }

  .brand-film__subtitle {
    color: white;
    font-size: 12px;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word
  }
}

.brand-film__container .carousel__slide {
  transition: visibility 0s, opacity 0s linear;
}

.brand-film__container .brand-film__wrapper {
  position: relative;
}

.brand-film__container .brand-film__asset {
  position: relative;
}

.brand-film__container .brand-film__video-container.carousel__slide--active {
  width: 100%;
  height: 377px;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, #18171A 20%, rgba(24, 23, 26, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
  }

  .brand-film__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.brand-film__container .brand-film__video--paused::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  height: 48px;
  width: 48px;
  background: url('../../icons/play-icon.svg') no-repeat;
}

.brand-film__container video:picture-in-picture {
  border: 5px solid blue;
}

.brand-film__container .brand-film__wrapper .brand-film__actions,
.brand-film__container .brand-film__wrapper .brand-film__close-btn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
}

.brand-film__container .brand-film__wrapper:hover .brand-film__actions {
  visibility: visible;
}

.brand-film__container .brand-film__wrapper--fullscreen {
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;

  @media (orientation: landscape) {
    flex-direction: column;
  }

  @media (orientation: portrait) {
    flex-direction: row;
  }
}

.brand-film__container .brand-film__wrapper--fullscreen .brand-film__asset {
  width: 100%;
  height: 100%;

  @media (orientation: landscape) {
    height: 100%;
    width: auto;
  }

  @media (orientation: portrait) {
    width: 100%;
    height: auto;
  }
}

.brand-film__container .brand-film__wrapper--fullscreen .brand-film__video-container.carousel__slide--active {
  width: 100%;
  height: 100%;

  &&::before {
    background: transparent;
  }
}

.brand-film__container .brand-film__wrapper--pip .brand-film__asset {
  width: 250px;
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 20;
}

.brand-film__container .brand-film__wrapper--pip video {
  border-radius: 8px;
}

.brand-film__container .brand-film__wrapper--fullscreen:hover .brand-film__actions,
.brand-film__container .brand-film__wrapper--pip:hover .brand-film__actions {
  visibility: hidden;
}

.brand-film__container .brand-film__wrapper--fullscreen .brand-film__close-btn,
.brand-film__container .brand-film__wrapper--pip .brand-film__close-btn {
  visibility: visible;
  top: 20px;
  left: unset;
  right: 0;
}

.brand-film__container .brand-film__slides {
  width: 100%;
}

.brand-film__container .brand-film__navigation-wrapper {
  position: absolute;
  bottom: -2px;
  right: 90px;
}

@media (min-width: 999px) {
  .brand-film__container {
    padding: 64px 64px 96px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 82% calc(100% - 30px), calc(82% - 25px) 100%, 0 100%);
  }

  .brand-film__container .brand-film__video-container.carousel__slide--active {
    height: 663px;
  }

  .brand-film__container .brand-film__description {
    margin-bottom: 24px;

    .brand-film__description-text {
      font-size: 48px;
      line-height: 56px;
      text-align: left;
    }
  }

  .brand-film__container .brand-film__content {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  
    .brand-film__title {
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
    }
  
    .brand-film__subtitle {
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
    }
  }

  .brand-film__container .brand-film__navigation-wrapper {
    position: relative;
    right: initial;
    bottom: initial;
  }
}