.car-detail-banner-container {
  position: relative;
}
.car-detail-banner-wrapper,
.car-detail-banner {
  width: 100%;
  overflow: hidden;
}
.hero__banner {
  width: 100%;
  height: 100vh;
  position: relative;
}
@media (orientation: landscape) {
  .hero__banner {
    height: 600px;
  }
}
.hero__banner--image {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero__banner--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.banner__content {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.banner__content .banner__info {
  position: absolute;
  inset: 0;
  z-index: 2;
  text-align: center;
  padding-top: 16vh;
  padding-bottom: 14vh;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Anek Latin";
  display: grid;
  align-self: center;
}
.banner__carDescription {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2vh;
}
.banner__carLogoImage {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 10px;
}
.banner__carLogoImage::after {
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #fff 50%,
    rgba(255, 255, 255, 0) 100%
  );
}
.banner__carLogoImage img {
  width: 100%;
}
.banner__startingPriceText {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.banner__startingPriceText p {
  margin-bottom: 1vh;
}
.banner__exShowroomPrice {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 2vh;
}
.banner__testDriveText {
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}
.banner__testDriveText p {
  margin: 0;
}
.banner__testDriveText .button-container a.button {
  color: #fff;
  font-family: "Anek Latin";
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.015px; /* 200.146% */
  text-decoration-line: underline;
  text-transform: inherit;
}
.banner__carImage {
  max-width: 320px;
  margin: 2vh auto;
}
.banner__carImage img {
  width: 100%;
}
/* button style override */
.banner__actions .button-secondary-dark,
.banner__actions .button-secondary-light {
  background-color: inherit;
  border: inherit;
  color: #fff;
  padding: 7px 15px 7px 25px;
}
.banner__actions .button-secondary-dark:hover,
.banner__actions .button-secondary-light:hover {
  background-color: inherit;
  border: inherit;
  color: var(--secondary-white);
}
.banner__actions .button-secondary-dark::before,
.banner__actions .button-secondary-light::before {
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  left: 0;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M14.6537 12.0001L10.25 16.4038L10.25 7.59631L14.6537 12.0001Z" fill="white"/></svg>');
}
.hero__bottom-gradient {
  text-align: center;
  padding-bottom: 75px;
  padding-top: 22px;
  background: linear-gradient(
    179deg,
    rgba(217, 217, 217, 0) 1.08%,
    #c2c2c2 44.54%,
    #f1f1f1 92.51%
  );
  margin-top: -80px;
  position: relative;
  display: flex;
  justify-content: center;
}
.banner__scrollMoreText {
  color: #fff;
  font-family: "Anek Latin";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 16.8px */
  text-transform: uppercase;
  display: flex;
  gap: 8px;
  align-items: center;
  text-decoration: none;
}
.banner__scrollMoreText span {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 5px;
  flex-shrink: 0;
  border: 0.5px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7.5px);
}
@media (min-width: 999px) {
  .banner__carDescription,
  .banner__testDriveText,
  .banner__scrollMoreText {
    display: none;
  }
  .banner__carLogoImage {
    grid-area: 1 / 2 / 1 / 2;
    width: 100%;
    max-width: inherit;
    position: relative;
  }
  .banner__carLogoImage img {
    position: absolute;
    left: -10%;
    opacity: 0.5;
    width: 125%;
  }
  .banner__carLogoImage::after {
    display: none;
  }
  .banner__startingPriceText {
    grid-area: 1 / 1 / 1 / 2;
    grid-row: 1/3;
    align-self: self-end;
    text-align: left;
  }
  .banner__exShowroomPrice {
    text-align: left;
    font-size: 40px;
    font-weight: 500;
    line-height: 28.02px; /* 70.051% */
    position: relative;
    padding-bottom: 24px;
    margin-bottom: 24px;
    align-self: end;
  }
  .banner__exShowroomPrice::after {
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #fff 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .banner__carImage {
    grid-area: 2 / 2 / 4 / 3;
    max-width: inherit;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    margin: 0;
    position: relative;
  }
  .banner__carImage img {
    width: 100%;
    position: relative;
    bottom: -20%;
  }

  .banner__actions {
    display: flex;
    gap: 16px;
    align-items: end;
    height: fit-content;
    align-self: baseline;
  }
  .banner__content .banner__info {
    padding-bottom: 10vh;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
  .banner__actions .button-secondary-dark {
    background-color: var(--secondary-white);
    color: var(--primary-blue-700);
    border: 1px solid var(--primary-blue-700);
    padding: 8px 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  .banner__actions .button-secondary-dark:hover {
    color: var(--secondary-white);
    background-color: var(--primary-blue-700);
    border: 1px solid var(--primary-blue-700);
  }
  .banner__actions .button-secondary-dark::before,
  .banner__actions .button-secondary-light::before {
    display: none;
  }
  .banner__actions .button-secondary-light {
    background-color: none;
    color: var(--secondary-white);
    border: 1px solid var(--secondary-white);
    padding: 8px 16px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  .banner__actions .button-secondary-light:hover {
    background-color: var(--primary-blue-700);
    border: 1px solid var(--primary-blue-700);
    color: var(--secondary-white);
  }
  .hero__bottom-gradient {
    height: 276px;
    padding-bottom: inherit;
    padding-top: inherit;
    background: linear-gradient(
      180deg,
      rgba(147, 157, 164, 0) 0%,
      #778590 25.52%,
      rgba(119, 133, 144, 0.64) 51.77%,
      rgba(120, 134, 145, 0) 100%
    );
    margin-top: -70px;
  }
}
