.carousel__wrapper .carousel__slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: hidden clip;
}

.carousel__wrapper .carousel__slides::-webkit-scrollbar {
  display: none;
}

.carousel__wrapper .carousel__slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  width: 100%;
}
