.carousel__wrapper .carousel__slides {
  position: relative;
  width: 100%;
}

.carousel__wrapper .carousel__slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}

.carousel__wrapper .carousel__slide--active {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.carousel__wrapper .carousel__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel__wrapper .carousel__prev,
.carousel__wrapper .carousel__next {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel__wrapper .carousel__prev::after {
  content: '';
  display: inline-block;
  background: url('../../icons/carousel-arrow-white.svg') no-repeat;
  width: 24px;
  height: 24px;
  transform: rotate(360deg);
}

.carousel__wrapper .carousel__next::after {
  content: '';
  display: inline-block;
  background: url('../../icons/carousel-arrow-white.svg') no-repeat;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

.carousel__wrapper .carousel__dots {
  display: flex;
}

.carousel__wrapper ul {
  margin: 0;
  scale: 0.6;
}

.carousel__wrapper .carousel__dot {
  content: '';
  display: inline-block;
  background: url('../../icons/carousel-dot.svg') no-repeat;
  height: 10px;
  width: 16px;
  margin-right: 4px;
  cursor: pointer;
}

.carousel__wrapper .carousel__dot--active {
  content: '';
  background: url('../../icons/carousel-dot-long.svg') no-repeat;
  height: 10px;
  width: 56px;
  transition: background 0.1s linear;
}

.carousel__wrapper .carousel__dot--visited {
  background: url('../../icons/carousel-dot-filled.svg') no-repeat;
}

@media (min-width: 1024px) {
  .carousel__wrapper ul {
    scale: 1;
  }

  .carousel__wrapper .carousel__dot {
    margin-right: 10px;
  }
}