/* Styles for Nexa World component */
.nexa-world__container {
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: black;
}

.nexa-world__content {
  margin-bottom: 20px;
}

.nexa-world__title {
  margin-bottom: 10px;
}

.nexa-world__title .pre-title,
.nexa-world__title .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.description {
  margin-bottom: 15px;
  line-height: 1.6;
}

.nexa-world__action {
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: white;
}

.btn-title {
  display: flex;
  align-items: center;
}

.btn-title p {
  margin: 0;
}

.location-icon img {
  margin-left: 10px;
  width: 20px; /* Adjust icon size */
  height: auto;
}

.nexa-world__img {
  text-align: center;
  margin-bottom: 20px;
}

.nexa-world__img img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for Nexa World teaser */
.nexa-world__teaser {
  margin-top: 20px;
}

.nexa-world__links {
  list-style-type: none;
  padding: 0;
}

.nexa-world__links li {
  margin-bottom: 10px;
}

.nexa-world__links a {
  display: flex;
  text-decoration: none;
  color: white;
}

.nexa-world__links a:hover {
  text-decoration: none;
}

.nexa-world__links img {
  max-width: 100px; /* Adjust image size */
  height: auto;
  margin-right: 10px;
  vertical-align: middle;
}
