.nexa-world__container {
    background-color: black;
    display: flex;
    padding-left: 64px;
    height: 100vh;
    width: 1300px;
    text-align: left;
    color: white;
    font-family: "Fira-Sans";
    padding-top: 16px; 
    gap: 8px;
    flex-direction: column;
}

.nexa-world__teaser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.nexa-world__img {
    width: 1130px;
    height: 100px;
    flex-shrink: 0;
    position: absolute;
    right: 0px;
    border-radius: 8px;
    object-fit: cover;
}

.nexa-world__action {
    display: inline-flex;
    width: 200px;
    height: 40px;
    background-color: #ffffff;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    clip-path: polygon(2% 0, 100% 0, 100% 88%, 98% 100%, 0 100%, 0 12%); 
}

.btn-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #18171A;
    text-align: center;
    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    width: 113px;
}

.p::after {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; 
    content: url('/content/dam/nexa-world/north_east.svg');  
}

.location-icon svg {
    height: 20px;
    width: 20px;
    display: flex; 
}

.nexa-world__content {
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin: 2px 0;
}

.nexa-world__content .description {
    color: #FFF; 
    font-family: "Fira Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
    margin: 2px 0;
    

}

.nexa-world__title .pre-title {
    color: var(--Tertiary-White, #FFF);
    font-family: "Kepler Std";
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
}

.nexa-world__title .title {
    color: var(--Tertiary-White, #FFF);
    font-family: "Kepler Std";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
    letter-spacing: 1.68px;
    padding-bottom: 22px;
    margin: 2px 0;
}

.nexa-world__links ul.list-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.nexa-world__links ul.list-container li a {
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.nexa-world__links ul.list-container li a:hover {
    color: white;  
    font-weight: 500;
    cursor: pointer;
}

.nexa-world__links ul.list-container li a img {
    max-width: 24px;  
    height: auto;
    margin-left: 5px;
    display: none;
}

.nexa-world__links ul.list-container li a:hover img {
    display: inline;
    display: none;
}



/* Mobile View */
/* Mobile View */
@media (max-width: 768px) {
    .nexa-world__container {
      background-color: black;
      display: flex;
      padding: 16px;
      height: 100vh;
      width: 100%;
      text-align: left;
      color: white;
      font-family: "Fira-Sans";
      gap: 8px;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nexa-world__teaser {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      width: 100%;
    }
  
    .nexa-world__img {
      width: 100%;
      height: auto;
      position: relative;
      border-radius: 8px;
      object-fit: cover;
      right: 0;
    }
  
    .nexa-world__action {
      display: flex;
      width: 100%;
      height: 40px;
      background-color: #ffffff;
      padding: 8px;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
  
    .btn-title {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #18171A;
      text-align: center;
      font-family: "Fira Sans";
      font-size: 14px;
      font-style: normal;
      width: auto;
    }
  
    .p::after {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px; 
      content: url('/content/dam/nexa-world/add_location_alt.png');  
    }
  
    .location-icon svg {
      height: 20px;
      width: 20px;
      display: flex; 
    }
  
    .nexa-world__content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 2px 0;
      width: 100%;
    }
  
    .nexa-world__content .description {
      color: #FFF; 
      font-family: "Fira Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 18px; 
      margin: 2px 0;
    }
  
    .nexa-world__title .pre-title {
      color: var(--Tertiary-White, #FFF);
      font-family: "Kepler Std";
      font-size: 18px;
      font-style: italic;
      font-weight: 400;
      line-height: 22px;
    }
  
    .nexa-world__title .title {
      color: var(--Tertiary-White, #FFF);
      font-family: "Kepler Std";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; 
      letter-spacing: 1.68px;
      padding-bottom: 16px;
     
    }
  
    .nexa-world__links ul.list-container {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 12px;
      justify-content: center;
      width: 100%;
      padding: 0;
    }
  
    .nexa-world__links ul.list-container li {
      margin: 0;
    }
  
    .nexa-world__links ul.list-container li a {
      color: #b2b2b2;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  
    .nexa-world__links ul.list-container li a:hover {
      color: white;  
      font-weight: 500;
      cursor: pointer;
    }
  
    .nexa-world__links ul.list-container li a img {
      max-width: 20px;  
      height: auto;
      margin-left: 5px;
      display: none;
    }
  
    .nexa-world__links ul.list-container li a:hover img {
      display: inline;
    }
  }
  
  

    