.dealer-locator__container {
  position: relative;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  
  
    
     &::after {
      content:"";
      position:absolute;
      width: 205px;
      height: 1366px;
      transform: rotate(90deg);
      flex-shrink: 0;
      top:0;
      left:0;
      bottom: 0;
      background: linear-gradient(101deg, #18171A 3.08%, rgba(24, 23, 26, 0.75) 22.25%, rgba(24, 23, 26, 0.00) 44.22%);


    } 
}


.image-container img {
  width:100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  
  
}



/* Content styling */
.dealer-locator__content {
  display: flex;
  justify-content: space-between; /* Align pre-title and description */
  align-items: center;
  padding: 10px;
}

/* Pre-title styling */
.pre-title {
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    font-family: "Fira Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #F2f2f2;
    top: 73%;
    padding: 5px;
    text-align: left;
	}
	

/* Description styling */
.dealer-locator__description {
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 300px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    max-width: 300px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 300;
    font-family: "Fira Sans";
    font-style: normal;
    color: #fff;
}

.dealer-locator__action .cta-text.highlight {
    
  margin-top: 97px;
  font-size: 35px;
}

/* Action container styling */
.dealer-locator__action {
  position: absolute;
  bottom: 10px; /* Position at the bottom */
  left: 10px; /* Position at the left */
  display: flex;
  align-items: center;
}

/* Scrollbar styling */
.scroll-bar {
  position: relative;
  margin-right: 10px; /* Space between scrollbar and CTAs */
  flex-direction: column;
}

/* Vertical line for scrollbar */
.scroll-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2px; /* Width of the scrollbar */
  height: 100%; /* Height of the scrollbar */
  background-color: gray; /* Color of the scrollbar */
  flex-direction: column;
}

/* List of CTAs styling */
.dealer-locator__action ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dealer-locator__action ul li {
  margin-right: 10px;
}

/* Individual CTA styling */
.dealer-locator__action .cta-text {
  padding-left: 20px; /* Padding to separate CTAs from scrollbar */
}

/* Highlight effect for CTAs */
.dealer-locator__action .cta-text.highlight {
  margin-top: 97px;
  font-size: 35px;
}

/* CTA link styling */
.dealer-locator__action .cta-text a {
  text-decoration: none;
  color: white; /* Link text color */
}

/* Hover effect for CTA links */
.dealer-locator__action .cta-text a:hover {
  text-decoration: none; /* Underline on hover */
}
.right-seperator::after {
  content: "";
  width: 30%;
  display: block;
  height: 25px;
  background-color: #18171A;
  clip-path: polygon(0 0, 100% 0, 65% 0%, 75% 0%, 72% 100%, 0 100%);
  position: relative;
  margin-top: -12px;
}
