.dealer-locator__container {
  background-color: #18171A;
  width: 1366px;
  height: 470px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dealer-locator__container .image {
  height: 1366px;
  width: 205px;
  overflow: hidden;
}

.dealer-locator__container .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.dealer-locator__content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dealer-locator__content .pre-title {
  color: #f2f2f2;
  font-family: "Fira Sans";
  line-height:24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  border-left: 18px;
  border-right: 24px;
  
}

.dealer-locator__content .description {
  display: flex;
  color: #ffffff;
  padding-bottom: 8px;
  align-items: flex-end;
  gap: 4px;
  border-left: 109px;

}

.dealer-locator__action {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  
}

.dealer-locator__action ul {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 12px;
align-self: stretch;
}

.dealer-locator__action ul a {
  text-decoration: none;
  color: #f2f2f2;
}

.dealer-locator__action .cta-text {
  display: flex;
  padding: 10px 20px;
  background-color: #18171A;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.dealer-locator__action .cta-text:hover,
.dealer-locator__action .cta-text.highlight {
  background-color: #ffffff;
}
