footer {
  background-color: var(--primary-main);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
}
footer .link-container-section {
  display: block;
}
footer .link-grid-column .links-container {
  gap: 12px;
}
footer .link-grid-column .links-container li a {
  min-height: inherit;
}
footer .default-content-wrapper {
  display: none;
}
footer .link-grid-column {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
footer .link-grid-column h3,
footer #contact-us {
  color: var(--tertiary-white);
  margin: 0;
  padding: 16px 0;
}
.accordian-item {
}

footer .link-grid-column h3 {
  position: relative;
}
footer .link-grid-column h3::after {
  content: "";
  position: absolute;
  right: 0;
  height: 20px;
  width: 20px;
  background-image: url("../../icons/expand.svg");
}
.footer__columns-contact .default-content-wrapper {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.footer__columns-contact {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 32px;
}
footer .default-content-wrapper {
  display: none;
}
footer .footer__columns-contact .default-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding-bottom: 32px;
}
footer .footer__columns.footer__columns-contact p {
  color: var(--tertiary-white);
  font-family: "Fira Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  display: inline-block;
  margin: 0;
}
footer .footer__columns.footer__columns-contact p strong {
  font-size: 14px;
  font-weight: 400;
}

footer #contact-us {
  display: none;
}
footer .user__contact {
}
footer .user__contact h4 {
  display: none;
}
footer .user__contact__icons {
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.footer__info-left p,
.footer__info-right p {
  display: none;
}
.footer__copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 24px 0 0;
}
.footer__copyright-left {
  padding-top: 24px;
}
.footer__copyright-left p {
  color: var(--tertiary-light-grey);
  font-family: "Fira Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
.footer__copyright ul {
  padding: 16px 0 0;
  display: flex;
}
.footer__copyright-right ul {
  padding: 16px 0 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 26px;
  flex-wrap: wrap;
}
.footer__copyright-right ul li {
  line-height: 20px;
}
.footer__copyright-right ul li a {
  color: var(--tertiary-medium-grey);
  font-family: "Fira Sans";
  font-size: 9px;
  font-style: normal;
  font-weight: 400;

  text-decoration-line: underline;
  text-transform: uppercase;
}

ul.content.links-container {
  /* display: none; */
  padding-bottom: 16px;
}

@media (min-width: 1024px) {
  footer {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  footer .link-container-section {
    display: flex;
  }
  footer .link-grid-column h3,
  footer #contact-us {
    font-size: 18px;
    padding: 20px 0;
    font-style: normal;
    font-weight: 500;
  }
  footer .link-grid-column h3::after {
    display: none;
  }
  .footer__columns-contact {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
  footer #contact-us {
    display: block;
  }
  footer .link-grid-column {
    border-bottom: none;
  }
  .footer__separator {
    height: 1px;
    width: 100%;
    background: #7b7777;
    position: relative;
  }
  .footer__separator::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--tertiary-white);
    border-radius: 50%;
    background-image: url("../../icons/footer-expand.svg");
    left: 50%;
    top: -10px;
    margin-left: -10px;
  }
  footer .default-content-wrapper {
    display: block;
    border: none;
    padding-bottom: 64px;
  }
  footer #contact-us p {
    font-size: 16px;
  }
  footer .footer__columns .footer__columns-contact p {
    font-size: 16px;
    padding-bottom: 10px;
  }
  footer .footer__columns .footer__columns-contact p strong {
    font-size: 16px;
    font-weight: 400;
  }
  .footer__columns-contact .default-content-wrapper {
    border-bottom: none;
  }

  footer .default-content-wrapper p {
    color: var(--tertiary-white, #fff);
    font-family: "Kepler Std";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 116.667% */
    letter-spacing: 0.96px;
    text-transform: capitalize;
  }
  footer .default-content-wrapper p {
    margin: 0;
  }
  footer .user__contact h4 {
    display: block;
    color: var(--tertiary-white);
    font-family: "Fira Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.16px;
  }
  footer .footer__columns-contact .default-content-wrapper {
    gap: 0;
  }
  footer .user__contact--icon {
    display: flex;
    padding: 8px 0;
    flex-direction: row;
  }
  footer .user__contact--icon img {
    height: 20px;
  }
  .footer__info-left,
  .footer__info-right {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .footer__info-left p,
  .footer__info-right p {
    display: block;
    color: var(--tertiary-white);
    font-family: "Fira Sans";
    font-size: 10px;
    font-style: italic;
    font-weight: 300;
    line-height: 14px;
  }
  .footer__copyright-right ul {
    padding: 0;
    gap: 16px 34px;
    justify-content: end;
  }
  .footer__copyright-right ul li a {
    color: var(--tertiary-white);
    font-size: 14px;
    text-decoration-line: none;
  }
  .footer__copyright-left {
    padding-top: 0px;
  }
}
