.container {
  position: relative;
  /* max-width: 1000px; */
  margin: auto;
  overflow: hidden;
  width: 100%;
}

.slider-title {
  color: #ffdb68;
  font-family: Roboto;
  font-weight: 900;
  line-height: 36px;
  text-align: right;
  font-size: 64px;
}

.teaser-content {
  overflow: hidden;
  margin-top: -45px;
  position: relative;
}

.teaser__description p {
  font-family: Anek Latin;
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  color: #000;
  margin: 0;
  margin-top: 20px;
  border-bottom: 2px solid #000;
  padding-bottom: 7px;
  width: fit-content;
}

.teaser__description p::after {
  content: '';
  background: url('../../icons/slanted_arrow.svg') no-repeat;
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-left: 26px;
}

.teaser__actions {
  margin-top: 7px;
}

.teaser__actions a {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 300;
  line-height: 28px;
  color: #000;


}

.teaser__cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.teaser__card {
  /* flex: 0 0 100%; */
  flex: 0 0 33.3333%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.teaser__card .teaser__image {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden !important;
}
.teaser__card .teaser__image img{
  transition: transform 1s ease;
  height:100%;
}
.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.nav-arrow.prev {
  left: 10px;
  top: calc(50% - 40px);
  background: var(--blue, #171C8F);
  height: 80px;
  width: 80px;
  font-size: 25px;
}

.nav-arrow.next {
  right: 0px;
  top: calc(50% - 40px);
  background: var(--blue, #171C8F);
  height: 80px;
  width: 80px;
  font-size: 25px;
}

/* Zoom effect on hover */
.teaser__card:hover img {
  transform: scale(1.15);
  /* transform-origin: 50% 50%; */
}
.teaser__card:hover .teaser__description p::after {
  transform: scale(1.15);
  /* transform-origin: 50% 50%; */
}

/* Responsive adjustments */
@media (min-width: 600px) {
  .teaser__card {
    flex: 0 0 50%;
  }
}

@media (min-width: 900px) {
  .teaser__card {
    flex: 0 0 33.3333%;
    overflow: hidden;
  }

  .slider-title {
    font-size: 160px;
  }

  .teaser-content {
    margin-top: -75px;
  }

  .teaser__description p {
    font-size: 24px;
  }

  .teaser__actions a {
    font-size: 16px;
  }
  .nav-arrow.next {
    right:10px;
  }
}

/* Show 1.5 slides on mobile */
@media (max-width: 600px) {
  .teaser__card {
    flex: 0 0 66.6666%;
  }

}

/* .teaser__card h3,
.teaser__card p {
  margin: 10px 0 0;
} */